<% title "Galleries" %>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th>Shoot Date</th>
  </tr>
  <% for gallery in @galleries %>
    <tr>
      <td><%=h gallery.name %></td>
      <td><%=h gallery.user_id %></td>
      <td><%=h gallery.shoot_date %></td>
      <td><%= link_to "Show", gallery %></td>
      <td><%= link_to "Edit", edit_gallery_path(gallery) %></td>
      <td><%= link_to "Destroy", gallery,
        :confirm => 'Are you sure? This will delete all photos within this gallery.',
        :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Gallery", new_gallery_path %></p>
